text-align: start;
padding: 1em;
margin: 1em;

font-size: 14pt; 
font-family: sans-serif;
font-weight: normal;

b {
  color:#0000ff;
}

i {
  color:#00ff00;
}

q {
  color:#ff0000;
} 
  
blockquote {
  background-color:#dcdcdc;
}
