text-align: start;
padding: 1em;
margin: 1em;

body {
font-size: 14pt; 
font-family: Arial, Helvetica;
font-weight: normal;
}

b {
  color:blue;
}

i {
  color:#00ff00;
}

q {
  color:#ff0000;
} 
  
blockquote {
  background-color:#dcdcdc;
}
